
<script src="~/Scripts/Jquery Form Steps/js/sweetalert.min.js"></script>


<br />
<br />
<br />

<div class="row justify-content-center">

    

    <form id="frmOlvideContraseña" class="col-md-5 col-lg-3 container" method="POST" >

        <h4>Verificar Cuenta</h4>

        <div class="row pt-2 pb-2" style="border:2px lightgray solid; border-radius:5px;">

            <div class="form-group col-sm-12">
                <label>Introduce la cuenta de correo asociada a tu cuenta de Novosys</label>
                <input class="form-control" id="UsuarioVar" type="email" name="UsuarioVar" required placeholder="Correo Electrónico">
            </div>

            <input type="submit" value="Continuar" class="btn btn-primary container mt-3" style="width:50%;" onclick="EnviarCodigoDeVerificacion()"/>

        </div>


    </form>


</div>


<div id="container" class="mt-5">

</div>
